body { padding:0px; margin:0 auto;}
ul li{list-style:none;}
a:hover,a:focus{text-decoration:none;}

/* login */
.login-navbar{margin-bottom:0;border:1px solid #363B48;background:#363B48;}
.login-navbar .container .navbar-header{width:100%;}
.login-navbar .container .navbar-header .navbar-brand{height:60px;width:90%;}
.login-navbar .container .navbar-header .navbar-brand a img{width:40px;height:40px;display:inline-block;}
.login-navbar .container .navbar-header .navbar-brand a span{display:inline-block;color:#fff;font-weight:bold;font-size:1.1em;}
.login-navbar .container .navbar-header .navbar-brand span{display:inline-block;color:#fff;font-size:0.9em;margin-top:10px;}
.login-navbar .container .navbar-header .navbar-brand .dropdown{display:inline-block;margin-left:10px;margin-top:10px;}
.login-navbar .container .navbar-header .navbar-brand .dropdown a.dropdown-toggle{color:#fff;font-size:0.9em;}
.login-navbar .container .navbar-header .navbar-brand .dropdown a.dropdown-toggle span{margin-top:-5px;}
.login-navbar .container .navbar-header .navbar-brand .dropdown a.dropdown-toggle:hover{color:#fff;}
.login-navbar .container .navbar-header .navbar-brand .dropdown .dropdown-menu{margin: 15px 0 0;}

.login-container{width:100%;height:580px; position:relative;top:0;left:0;}
.login-container .container{margin:0 auto;background:url('../images/login-bg.png') no-repeat;}
.login-form{width:25%;margin:150px auto;padding:25px;background:rgba(0,0,0,0.45);border-radius:15px;}
.login-form .form-group{width:80%;margin:0 auto;}
.login-form .form-group label.control-label,.login-form .form-group label{color:#fff;}
.login-form .form-group p{font-size:0.23em;}
.login-form .form-group .checkbox label.remindMe{font-size:0.23em;}
.login-form .form-group input.form-control{margin:10px auto;}
.btn-login{background:#363B48;border:1px solid #363B48;color:#fff;font-size:0.23em;width:100%;}
.btn-login:hover{color:#fff;}
@media (min-width:320px){
	.login-container{height:410px;}
	.login-form{width:250px;margin:80px auto;}
}
@media (min-width:480px){
	.login-container{height:270px;}
	.login-form{width:300px;margin:10px auto;}
}
@media (min-width:761px) and (max-width:1000px){
	.login-container{height:720px;}
	.login-form{width:50%;margin:160px auto;}
}
@media (min-width:1001px) and (max-width:1200px){
	.login-container{height:490px;}
	.login-form{width:40%;margin:120px auto;}
}
@media (min-width:1201px){
	.login-container{height:550px;}
	.login-form{width:35%;margin:150px auto;}
}

/* index ledtSiderNav 宸︿晶瀵艰埅 */
.row{background:#eee;}
.row .sidebar {padding:0;}
.row .sidebar .list-group .list-group-item span.disabled img{margin-right:8%;}
.row .sidebar .list-group .list-group-item span.disabled span{font-size:0.89em;color:#666;}
.row .sidebar .list-group .list-group-item ul.nav{margin-left:35%;font-size:0.89em;color:#333;}
.row .sidebar .list-group .list-group-item ul.nav li a{color:#333;}

.row .col-md-9 .list-group .list-group-item{background:#eee;}

/* index content 姝ｆ枃鍐呭  */
.row .content,
.row .content .list-group,
.row .content .list-group .list-group-item,
.row .content .list-group .list-group-item .breadcrumb,
.row .content .list-group .list-group-item .row,
.row .content .list-group .list-group-item .row .panel-block,
.row .content .list-group .list-group-item .row .panel-block .table,
.row .content .list-group .list-group-item .row .panel-block .panel{background:#eee;}
.row .content {padding-right:40px;padding-left:30px;}
.row .content .list-group{width:100%;margin:0 auto;}

.no-border{padding:10px 0;border:0;}

.breadcrumb{margin-bottom:0;font-size:0.8em;background:#eee;}
.breadcrumb .welcome-info{font-size:1.1em;color:#333;font-weight:bold;}
.breadcrumb .login-time{font-size:0.95em;color:#666;}

div.important-block{padding-right:0;}
p.important-p{padding-top:25px;padding-bottom:25px;text-align:center;margin:0;}
.important-info{font-size:2.3em;font-weight:bold;}
.important-desc{font-size:1.2em;font-weight:bold;}

.panel-block{padding-right:0;}
.panel-index{margin-bottom:0;}
.panel-index .panel-heading{background:#594852;}
.panel-index .panel-heading span{color:#fff;}
.panel-index .panel-heading .panel-title{font-size:1.0em;font-weight:bold;}
.panel-index .panel-heading .detile{float:right;font-size:0.65em;}
.panel-body{border:1px solid #ddd;}
.panel-body .list-group .list-group-item{border:0;}
.main-info{padding-right:10px;font-size:0.75em;font-weight:bold;color:#333;}
.main-info-value{font-size:0.70em;}

@media (min-width:320px){
	p.important-p{padding-top:15px;padding-bottom:15px;}
	.important-info{font-size:0.89em;}
	.important-desc{font-size:0.46em;}
	.panel-index .panel-heading .panel-title{font-size:0.78em;}
	.main-info{padding-right:4px;font-size:0.55em;}
	.main-info-value{font-size:0.50em;}
}
@media (min-width:320px) and (max-width:480px){
	p.important-p{padding-top:20px;padding-bottom:20px;}
	.important-info{font-size:0.7em;}
	.important-desc{font-size:0.46em;}
	.panel-index .panel-heading .panel-title{font-size:0.78em;}
	.main-info{padding-right:10px;font-size:0.45em;}
	.main-info-value{font-size:0.40em;}
}

/* 瀛︾敓璐﹀彿 */
.table tr th,.table tr td{font-size:0.85em;}
.nav-tabs-stu{padding-top:10px;}
.nav-tabs-stu strong{margin-left:20px;font-size:1.4em;font-weight:bold;}
.nav-tabs-stu li a {color:#fff;}
.nav-tabs-stu li a:hover{color:#0A59C0;}
.tab-content{border:1px solid #ccc;padding-top:20px;border-top:0;}
td .list-group .list-group-item span{margin-left:20px;}
td .list-group .list-group-item{border:0;padding-left:0;}

.consult-record-table{margin:0 auto;widht:90%;}
.consult-record-table tr th{font-size:0.90em;}
.consult-record-table tr td{font-size:0.70em;}
.consult-record-table tr td.important{font-weight:bold;}
.consult-record-table tr td.cancel{color:#666;}

.oprate-record-table{margin-left:50px;}
.oprate-record-table tr th{color:#08F;font-weight:normal;}
.oprate-record-table tr th, .oprate-record-table tr td{font-size:0.70em;}

caption strong{font-size:0.70em;}
.table tr th,.table tr td{font-size:0.70em;}


/* courseware */
.courseware-active{background:#0066FF;color:#fff;}
.courseware-form{padding:10px;}
.courseware-form label{font-size:0.95em;margin-right:10px;}
.courseware-form {border:1px solid #ddd;}
.courseware-form .form-group{padding:0px;margin:0;}
.courseware-form .form-group input{width:70px;border:0;outline:0;font-size:0.75em;}
.courseware-form .form-group input:hover,
.courseware-form .form-group input:focus,
.courseware-form .form-group input.active{background:#0066FF;color:#fff;}


/* 统计页面 */
.statis-form label{font-weight:normal;font-size:0.92em;margin-right:10px;}
.statis-form .form-group input{width:100px;margin-right:5px;}
.statis-form .form-group input:hover,
.statis-form .form-group input:focus,
.statis-form .form-group input.active{border:1px solid #FF0000;color:#FF0000;}
.statis-chart{padding:3px;}
.statis-chart img{width:100%;}
.statis-table, .statis-table thead tr,.statis-table thead tr th,.statis-table thead tr td, .statis-table tbody tr,.statis-table tbody tr th,.statis-table tbody tr td{border:0;}
.statis-table thead tr th,.statis-table thead tr td, .statis-table tbody tr,.statis-table tbody tr th,.statis-table tbody tr td{text-align:center;vertical-align:middle;}



/* footer */
.footer{width:100%;margin-top:15px;}
.footer .container{margin:0 auto;padding:10px;}
.copy{float:left;}
.foot-help{display:inline-block;float:right;}
.foot-help li{display:inline-block;font-size:0.52em;padding-right:10px;}
.foot-help li:hover{color:#0088FF;cursor:pointer;}



/* bg-color */
.bg-orange{background:#FA5A35;color:#fff;}
.bg-blue{background:#0A59C0;color:#fff;}
.bg-light-blue{background:#00BFDD;color:#fff;}
.bg-green{background:#15B74E;color:#fff;}
.bg-white{background:#fff;}
.bg-main{background:#594852;color:#fff;}

/* nav-tabs head bg-color*/
.nav-tabs-bg-gray{background:#666;color:#fff;}


.has-feedback label~.form-control-feedback {
top: 0px;
}